.btn-secondary {
    color: #000;
}
img {
    width: 70%;
    height: 55%;
}

.img-about {
width: 100%;
}

.logo {
    width: 80px;
}
.navbar {
    opacity: 0.9;
    text-transform: uppercase;
}
.social a {
    margin-right: 0.4rem;
}
#showcase {
    background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
    position: relative;
    min-height: 450px;
    color: #fff;
    padding-top: 4rem;
}
#showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px;
}
#showcase .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: #000;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#services {
    background: url(../img/building.jpg) no-repeat top center fixed/cover;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}
#services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #000;
}
#showcase-inner {
    background: url(../img/building.jpg) no-repeat top center fixed/cover;
    position: relative;
    overflow: hidden;
    min-height: 200px;
}
#showcase-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: #000;
}
#showcase-inner.showcase-search {
    min-height: 270px;
}
#work {
    padding: 6rem 0;
}
.listing-preview a {
    position: relative;
}

@media (max-width: 991px) {
    #showcase {
        padding-top: 4rem;
    }
    #showcase h1 {
        font-size: 40px;
    }
}
@media (max-width: 768px) {
    #showcase {
        padding-top: 3rem;
    }
    #showcase h1 {
        font-size: 40px;
    }
    #showcase p {
        display: none;
    }
    #top-bar {
        text-align: center;
    }
    #top-bar .social {
        text-align: center !important;
    }
}
@media (max-width: 576px) {
    #showcase h1 {
        font-size: 30px;
    }
    #showcase-inner h1 {
        font-size: 40px;
    }
}
